.banner {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    background-color:  rgb(5, 5, 30);
    color: #fff;
    border-bottom: var(--fnt-org) .1vh solid;
}
/*
.banner div hr {
    border: none;
    border-bottom: #fff .1rem solid;
    width: 100%;
    margin: .3em 0;
}
*/
.banner div h1{
    color: var(--fnt-org);
    margin: 0;
    padding: 0;
}
.banner div h1 img {
    height:1em;
    width: 1em;
    margin-right: 0.3em;
    vertical-align: -15%;
    border-radius:50%;
}
.banner div h1 img:hover {
    animation: rotate 1.5s cubic-bezier( 0.95, 0.24, 0.42, 0.75 ) infinite;
}

@keyframes rotate {
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}