:root {
    --bg: #07041b;
}

.progress2024 {
    display: flex;
    justify-content: center;
    background-color: var(--bg);

    border-left-color: var(--fnt-org);
    border-right-color: #fff;
    border-top-color: var(--fnt-org);
    border-bottom-color: #fff;
    border-width: .2em;
    border-style: solid;

    padding: 2rem;
    box-shadow: 10px 10px rgba(90, 90, 90, 0.75);
}

.progress2024 div table tr {
    padding: 0 3px;
}

.progress2024 div table tr td {
    padding: 0;
}

.progress2024 div table tr td p {
    font-size: 1.2em;
    margin: 0;
}

.bar {
    border: 3px solid #fff;
    background-color: var(--bg);
    position: relative;
    height: 20px;
    width: 350px;
    margin-top: 1em;
    margin-bottom: .2em;
}

.bar div {
    background-color: var(--fnt-org);
    height: 100%;
}

@media screen and (max-width: 460px) {
    .bar {
        width: 70vw;
    }

    .progress2024 div table tr td p {
        font-size: 1em;
    }
}